:root {
    --background-color: #292929;
    --blue-color: #0A84FF;
    --red-color: #FF453A;
    --dark-color: #212121;
    --dark-stroke-color: #343434;
    --primary-text-color: #DDDDDD;
    --seconday-text-color: #A4A4A4;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 480px) {
    main {
        margin: 0 1rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    main {
        margin: 0 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    main {
        margin: 0 3rem;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    main {
        margin: 0 4rem;
    }
}

@media (min-width: 1201px) {
    main {
        margin: 0 10rem;
    }
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::-moz-selection {
    background: var(--blue-color);
}

::selection {
    background: var(--blue-color);
}

.synonyms::selection {
    color: var(--primary-text-color);
    background: var(--blue-color);    
}

.synonyms::moz-selection {
    color: var(--primary-text-color);
    background: var(--blue-color);    
}

.antonyms::selection {
    color: var(--primary-text-color);
    background: var(--blue-color);    
}

.antonyms::moz-selection {
    color: var(--primary-text-color);
    background: var(--blue-color);    
}

*:focus {
    outline: none;
    border-color: var(--blue-color);
}

h1 {
    font-size: 2rem; /* 32px */
    font-weight: 700;
    color: var(--primary-text-color);
    margin: 2rem 0;
    text-align: center;
}

h2 {
    font-size: 1.5rem; /* 16px */
    font-weight: 500;
    color: var(--primary-text-color);
    margin: 0;
}

p, span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-text-color);
    margin: 0;
}

p.phonetics {
    color: var(--seconday-text-color);
}

p.category {
    font-style: italic;
    color: var(--seconday-text-color);
}

hr {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid var(--dark-stroke-color);
}

p.example {
    color: var(--seconday-text-color);
}

p.example::before {
    content: '"'
}

p.example::after {
    content: '"'
}

.synonym-container {
    display: flex;
    flex-wrap: wrap;
}

.antonym-container {
    display: flex;
    flex-wrap: wrap;
}

p.synonyms, p.antonyms {
    color: var(--blue-color);
    margin: 0 0.25rem 0.25rem 0;
}

.synonym, .antonym {
    font-size: 0.875rem;
    padding: 0 0.75rem;
    line-height: 1rem;
    border: 1px solid var(--seconday-text-color);
    border-radius: 1rem;
    margin: 0 0.25rem 0.25rem 0;
    text-align: center;
}

.synonym:hover {
    background-color: var(--dark-stroke-color);
}

input#search {
    box-sizing: border-box;

    max-width: 100%;
    min-width: 100%;
    /* width: 100%; */
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--primary-text-color);
    padding: 0.5rem 1rem;
    
    background-color: var(--dark-color);
    border: 1px solid var(--dark-stroke-color);
    border-radius: 2rem;

    margin-bottom: 1rem;

    display: block;
}

input::placeholder {
    color: var(--seconday-text-color);
}

.shadow {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.28);
}


.card {
    background-color: var(--dark-color);
    border: 1px solid var(--dark-stroke-color);
    /* max-width: 100%;
    width: 100%; */
    border-radius: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

#output {
    width: 100%;
}

.card-content {
    margin: 2rem;
}

.category {
    margin: 1rem 0;
}

.entry {
    display: flex;
    margin-bottom: 1rem;
}

.num {
    margin-right: 0.5rem;
}

.m-bot-4 {
    margin-bottom: 0.25rem;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
}

.fab {
    font-size: 1rem;
    color: var(--primary-text-color);
}

.source {
    margin: 1rem 0;
}

a {
    text-decoration: none;
}

/* Animated loading */
@keyframes ldio-i5yoszamlza {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-i5yoszamlza div {
    left: 48.5px;
    top: 30.5px;
    position: absolute;
    animation: ldio-i5yoszamlza linear 1s infinite;
    background: #dddddd;
    width: 3px;
    height: 11px;
    border-radius: 1.5px / 1.87px;
    transform-origin: 1.5px 19.5px;
  }.ldio-i5yoszamlza div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #dddddd;
  }.ldio-i5yoszamlza div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #dddddd;
  }.ldio-i5yoszamlza div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #dddddd;
  }.ldio-i5yoszamlza div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #dddddd;
  }.ldio-i5yoszamlza div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #dddddd;
  }.ldio-i5yoszamlza div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #dddddd;
  }.ldio-i5yoszamlza div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #dddddd;
  }.ldio-i5yoszamlza div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #dddddd;
  }.ldio-i5yoszamlza div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #dddddd;
  }.ldio-i5yoszamlza div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #dddddd;
  }.ldio-i5yoszamlza div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #dddddd;
  }.ldio-i5yoszamlza div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #dddddd;
  }
  .loadingio-spinner-spinner-fq0ubixirk {
    width: 64px;
    height: 64px;
    display: inline-block;
    overflow: hidden;
    background: rgba(NaN, NaN, NaN, 0);
  }
  .ldio-i5yoszamlza {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.64);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-i5yoszamlza div { box-sizing: content-box; }